.notes-dropdown {
  width: 50%;
  max-width: 360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-note, .delete-note {
  font-size: 2em;
  width: 18%;
  max-width: 120px;
  vertical-align: top;
  line-height: 1em;
}

.title-input {
  width: 100%;
  max-width: 600px;
}

.notes-dropdown, .add-note, .title-input {
  margin-right: 10px;
}

.first-row {
  margin-top: 10px;
}
